body {
	background-image: url(https://www.soyuz.ru/public/uploads/files/5/7153447/1005x558_201711011632068030aac1f3.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
h1 {
	text-align: center;
}
div {
	font-family: «Risque», cursive;
}
.undersong {
	font-family: 'Risque', cursive;
    font-family: 'Anton', sans-serif;
}
div p {
	margin-left: 100px; 
}