.main {
	width: 50vw;
}
.header {
	background-color:  #ADD8E6;
	height: 45px;
	text-align: center;
	line-height: 45px;
}
.content {
	background-image: linear-gradient(to right, #F0E68C 0%, #F0E68C 180px, white 180px, white 53vw);
}
.saidbar {
	float: left;
	background-color: #F0E68C;
	width: 180px;
}
.bold {
	margin-left: 10px;
	font-weight: bold;
}
.football {
	padding-left: 195px;
	background: url(img/bol.gif) repeat-y top right;
	padding-bottom: 20px;
	margin-bottom: 0;
	height: 100%;
}
.foot {
	text-align: center;
	font-weight: bold;
	margin-top: 0;
	padding-top: 10px;
}
img {
	float: left;
	margin-right: 15px;
}
.footer {
	clear: left;
	height: 45px;
	line-height: 45px;
	background-color:  #ADD8E6;
	text-align: center;
	margin-top: 0;
}
.logo {
	text-transform: uppercase;
	color: blue;
	margin-top: 0px;
}

@media (max-width: 880px) {
	.foot-img {
		display: none;
	}
}

@media (max-width: 750px) {
	.football {
		clear: both;
		margin-left: 10px;
		padding-left: 10px;
	}
	.content {
		background-image: none;
	}
	.saidbar {
	float: none;
	background-color: #F0E68C;
	width: 100%;
	}
	.bold {
		margin-top: 0;
		padding-top: 8px;
	}
	ul {
		margin-bottom: 0;
	}
}
	@media (max-width: 638px) {
	
	.header {
	background-color:  #ADD8E6;
	height: 55px;
	text-align: center;
	line-height: 24px;
	}
}
	@media (max-width: 550px) {
		.footer {
			height: 55px;
			line-height: 24px;
		}
}
